body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    font-weight: 700;
}

div,
p {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 56.83px;
    background-color: #252F3D;
    align-items: center;
}

.header img {
    width: 294px;
    height: 32px;
    padding-left: 166px;
}

.create-account {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 502px;
    height: 820px;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding-top: 45.17px;
}

.form-heading {
    display: flex;
    width: 502px;
    height: 30px;
    gap: 16px;
}

.heading-name {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #2C3642;
}

.form-details {
    width: 502px;
    height: 774px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-outline {
    width: 502px;
    height: 684px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.08);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 422px;
    height: 604px;
    gap: 16px;
}

.field_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 422px;
    height: 90px;
    gap: 10px;
}

.form-wrapper p {
    width: 380px;
    height: 23px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #333333;
}

input {
    display: flex;
    width: 422px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #A5B6CD;
}

input:focus {
    border: 1px solid #A5B6CD;
}

label {
    color: #4D5C6F;
    position: absolute;
    left: 14.5px;
    top: 11.5px;
    height: 27px;
    transition: 0.2s;
    font-weight: 400;
    font-size: 18px;
    gap: 2px;
    letter-spacing: 0.02em;
    line-height: 27px;
}

input:focus~label,
input:valid~label {
    top: -15px;
    left: 15px;
    background-color: #fff;
    width: 110px;
    height: 18px;
    gap: 2px;
    color: #4D5C6F;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: center;
}

sup {
    width: 7px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #CF4055;
}

input:focus~label sup,
input:valid~label sup {
    width: 6px;
    height: 18px;
    color: #CF4055;
    font-family: Roboto;
    font-size: 12px;
    line-height: 18px;
}

.select-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 422px;
    height: 50px;
}

select {
    display: flex;
    width: 124px;
    height: 50px;
    border-radius: 4px;
    border: 1px;
    gap: 10px;
    border: 1px solid #A5B6CD;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #4D5C6F;
}

.field-row-button {
    display: flex;
    width: 305px;
    height: 46px;
    gap: 15px;
}

.cancel-button {
    width: 145px;
    height: 46px;
    padding: 10px, 32px, 10px, 32px;
    border-radius: 6px;
    gap: 10px;
    border: 1px solid #4790A1;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #4790A1;
    cursor: pointer;
}

.submit-button {
    width: 145px;
    height: 46px;
    padding: 11px, 34px, 11px, 34px;
    border-radius: 6px;
    gap: 10px;
    background-color: #127C95;
    border: none;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    cursor: pointer;
}

.form-wrapper .FieldError {
    position: absolute;
    height: 16px;
    top: 56px;
    left: 1px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #DA1E28;
}

.registration_complete {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 426px;
    height: 76px;
    top: 148px;
    right: 5.5%;
    border-radius: 4px;
    gap: 10px;
    background-color: #CDFADC;
}

.registration_complete_message {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 362px;
    height: 28px;
    gap: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.success_message {
    width: 362px;
    height: 27px;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}

.registration_failed {
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 426px;
    height: 76px;
    top: 148px;
    right: 5.5%;
    border-radius: 4px;
    gap: 10px;
    background-color: #FFC0C0;
}

.registration_failed_message {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 362px;
    height: 28px;
    gap: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.failure_message {
    width: 362px;
    height: 27px;
    font-size: 18px;
    line-height: 27px;
    color: #333333;

}

@media only screen and (max-width: 600px) {
    .header {
        height: 49px;
    }

    .header img {
        width: 148px;
        height: 16px;
        padding-left: 17px;
    }

    .create-account {
        padding-top: 59px;
        display: flex;
        height: 975px;
        width: 100%;
        justify-content: center;

    }

    .form-heading {
        height: 24px;
        width: 90%;
        padding-left: 26px;
        padding-bottom: 15px;
    }

    .heading-name {
        height: 24px;
        font-size: 20px;
        line-height: 24px;
        color: #252B42;
    }

    .form-details {
        width: 100%;
        height: 870px;
        border: 1px solid #D8E0E9;
    }

    .form-outline {
        height: 916px;
        width: 100%;
        justify-content: space-around;
        display: flex;
    }

    .form-wrapper {
        width: 90%;
        height: 604px;
    }

    .field_row {
        width: 100%;
        height: 83px;
        gap: 10px;
    }

    p {
        width: 100%;
    }

    input {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #A5B6CD;
    }

    .select-field {
        width: 100%;
        height: 50px;
    }

    select {
        width: 32%;
        height: 50px;
    }


    .field-row-button {
        width: 100%;
        height: 144px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        box-shadow: 0px 4px 20px 4px #00000026;
    }

    .cancel-button,
    .submit-button {
        width: 85%;
        height: 46px;
    }

    .registration_complete {
        position: static;
        width: 90%;
        height: 66px;
        gap: 10px;
        border-radius: 4px;

    }

    .registration_complete_message {
        position: static;
        width: 90%;
        height: 28px;
        gap: 10px;
        padding: 19px;
    }


    .registration_failed {
        position: static;
        width: 90%;
        height: 92px;
        gap: 10px;
    }

    .registration_failed_message {
        position: static;
        width: 90%;
        height: 54px;
        gap: 10px;
        padding: 19px;
    }

}